#login {
}

.dropdown button {
    color: black;
    font-size: 3em;
    font-family: sans-serif;
    border: none;
    background-color: transparent;
}

#login-div {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: absolute;
    display: none;
    background-color: grey;
    width: 300px;
    height: 400px;
    right: 2em;
    z-index: 2;
}

#login-div .close {
    background-color: #fff;
    color: black;
    width: 50px;
    font-weight: 500;
    float: right;
}

.container-login {
    margin: 20px;
}
